# .env.example
GOOGLE_MAPS_PLATFORM_KEY=

# REAL-TIME PRODUCTION RAZORPAY GATEWAY INTEGRATION
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# CASHFREE PAYMENT GATEWAY INTEGRATION (SANDBOX & PRODUCTION)
CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
CASHFREE_ENV=TEST
CASHFREE_API_VERSION=2023-08-01
CASHFREE_WEBHOOK_SECRET=

# OFFICIAL DIGILOCKER (DIGITAL LOCKER - GOVT OF INDIA) API INTEGRATION
DIGILOCKER_CLIENT_ID=
DIGILOCKER_CLIENT_SECRET=
DIGILOCKER_REDIRECT_URI=
DIGILOCKER_ENVIRONMENT=
