# .env.example
GOOGLE_MAPS_PLATFORM_KEY=

# REAL-TIME PRODUCTION RAZORPAY GATEWAY INTEGRATION
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# OFFICIAL DIGILOCKER (DIGITAL LOCKER - GOVT OF INDIA) API INTEGRATION
DIGILOCKER_CLIENT_ID=
DIGILOCKER_CLIENT_SECRET=
DIGILOCKER_REDIRECT_URI=
DIGILOCKER_ENVIRONMENT=
